<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Batch Create Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Batch</a></li>
                    <li class="breadcrumb-item active">Batch Create Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<form class="shadow row d-flex justify-content-center">
    <div class="card-body col-md-6 col-sm-12">
@*         <div class="form-group">
            <label for="courseCode">Course Code</label>
            <input type="text" class="form-control" id="courseCode" placeholder="Enter course code">
        </div> *@
        <div class="form-group">
            <label>Minimal</label>
            <select class="" id="testing" style="width: 100%;">
                <option selected="selected" data-select2-id="19">Alabama</option>
                <option data-select2-id="38">Alaska</option>
                <option data-select2-id="39">California</option>
                <option data-select2-id="40">Delaware</option>
                <option data-select2-id="41">Tennessee</option>
                <option data-select2-id="42">Texas</option>
                <option data-select2-id="43">Washington</option>
            </select>
@*             <span class="select2 select2-container select2-container--bootstrap4 select2-container--above select2-container--focus" dir="ltr" data-select2-id="18" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-uvoz-container"><span class="select2-selection__rendered" id="select2-uvoz-container" role="textbox" aria-readonly="true" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
 *@        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="credithours">Credit Hours</label>
            <input type="number" class="form-control preventSign" min="1" id="credithours " placeholder="Credit Hours">
        </div>
        <div class="form-group">
            <label for="capacity">Capacity</label>
            <input type="number" class="form-control preventSign" min="1" id="capacity" placeholder="Capacity">
        </div>
        <div class="form-group">
            <label>Start Date:</label>
            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate">
                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <div>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
            <div class="ml-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>
